.vagrant/
*.o
mbasic.lex.cpp
mbasic.tab.cpp
mbasic.tab.hpp
ubuntu-xenial-16.04-cloudimg-console.log
basalt
tmp/
.vscode/settings.json
startrek.zip
libbasaltrt.a
test_llvm
test2.bas
test1.cxx
test1.c
test1.bas
test1
test.c
test
mbasic.output
STARTREK
test.asm
test.lst
a.bin
verify/ansic_*
verify/cpm_*
verify/test_*.bas
bdos_debug.txt
verify/z80_*

mbasic.lex.cc
mbasic.tab.cc
mbasic.tab.hh
